.projectsContainer{
  
}

.projectImage {
  width: 45%;
  border-radius: 10px;
  min-width: 300px;
}

.projectDescriptionContainer{
    width: 45%;
}

@media all and (max-width: 1260px){
  .projectsContainer{
    margin-top: 200px;
  }
}

@media all and (max-width: 768px) {
  .projectImage {
    width: 80%;
  }

  .projectDescriptionContainer{
      width: 80%;
      margin-top: 20px;
  }
}
